---
import Content from "../components/Content.astro";
import Social from "../components/Social.astro";
import Layout from "../layouts/Layout.astro";
import Frog from "../components/Frog.vue";
import Badges from "../components/Badges.vue";

interface SocialProps {
  image: string;
  link: string;
  handle: string;
}

const linkedin: SocialProps = {
  image: "/LI-In-Bug.png",
  link: "https://linkedin.com/in/justin-lo14",
  handle: "justin-lo-14",
};
const github: SocialProps = {
  image: "/GitHub_Invertocat_Dark.svg",
  link: "https://github.com/mintychochip",
  handle: "mintychochip",
};

const CREDLY_ID: string = "justin-lo.dd591245";
---

<Layout>
  <Frog client:load/>
  <div class="space-y-4">
    <div>
      <h1 class="text-5xl font-bold">Justin Lo</h1>
      <p>mintychochip</p>
      <p class="text-sm">Software Engineer</p>
    </div>
    <Content title="Social">
      <Social image={github.image} link={github.link}>{github.handle}</Social>
      <Social image={linkedin.image} link={linkedin.link}
        >{linkedin.handle}</Social
      >
    </Content>
    <Content title="Certifications">
      <Badges credlyId={CREDLY_ID} client:load/>
    </Content>
    <Content title="Skills">
      <ul class="list-disc list-inside space-y-1">
        <li>Languages: Python, JavaScript, TypeScript, C++, Java, SQL</li>
        <li>Frameworks & Libraries: Vue, Node.js, Deno, Astro</li>
        <li>Tools & Platforms: Git, Docker, AWS, VS Code</li>
        <li>Interests: Cloud Technology, Machine Learning</li>
      </ul>
    </Content>
  </div>
</Layout>
